<ion-header>
  <ion-toolbar>
    <ion-title>acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../../assets/icon/uisrael.png" width="100%">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Nombre</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Curso</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Materia</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Periodo</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>